<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ userContact$?.email }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="page-wrapper">
    <div class="key-not-shared">
      <span (click)="onShareKey()" *ngIf="!isKeyShared">share key</span>
      <span (click)="openDecryptionKeyComponent()">view decryption key</span>
    </div>
    <div class="messages-wrapper" *ngIf="messages">
      <div class="message-container" *ngFor="let message of messages; let i = index">
        <div class="m-item-wrapper sender" [class.sender]="message?.sender === userId$">
          <div class="m-item sender" [class.sender]="message?.sender === userId$" (click)="openMessageOption($event, message?.msg_id, message?.sender, i)">{{ message.dec_message }}</div>
        </div>
      </div>
    </div>
    <form #f="ngForm" (ngSubmit)="submitMessage(f)" *ngIf="isKeyShared">
      <ion-textarea
        autofocus="true"
        rows="1"
        ngModel
        name="chatMessage"
        required
        minlength="1"></ion-textarea
         >
      <ion-button type="submit">
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </form>
  </div>
</ion-content>
