<ion-list>
  <ion-item (click)="confirmDeleteMessage()" *ngIf="passedData.sender === userId$">
    <ion-label>Delete</ion-label>
  </ion-item>
  <ion-item (click)="onDecryptClicked()" *ngIf="passedData.sender !== userId$">
    <ion-label>Decrypt</ion-label>
  </ion-item>
  <div *ngIf="(passedData.sender !== userId$) && isDecryptOpen">
    <form #df="ngForm" (ngSubmit)="onDecryptMessage(df)">
      <ion-input 
        placeholder="Decryption Key"
        type="text"
        name="decKey"
        ngModel
        required
        decKeyCtrl="ngModel"></ion-input>
      <ion-button type="submit" [disabled]="!df.valid">Decrypt</ion-button>
    </form>
  </div>
</ion-list>