<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Secured Data Transmission
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed"  (click)="openNewMessageComponent()">
    <ion-fab-button>
      <ion-icon name="paper-plane"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="empty-contact" *ngIf="isLoadingContacts && !userContacts"><ion-spinner name="crescent" color="primary"></ion-spinner></div>
  <div class="chat-wrapper" *ngIf="!isLoadingContacts && userContacts">
    <div class="chat-item" *ngFor="let c of userContacts" (click)="openChat(c.id+'/'+c.chat_id)">
      <div class="image-wrapper">
        <div class="img-box">{{ c.name.substring(0, 1) | uppercase }}</div>
      </div>
      <div class="chat-metadata">
        <div class="contact-name">{{ c.name }} ({{ c.email }})</div>
        <div class="last-message">{{ c.dec_message }}</div>
      </div>
      
    </div>
  </div>
</ion-content>
